body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

header{
  background:#d1bea8;
  color:#0;
  padding-top:30px;
  min-height:70px;
  border-bottom:#2e4157 3px solid;
}
