body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#e6e0f6;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

header{
  background:#5b51c3;
  color: #e6e0f6 ;
  padding-top:30px;
  min-height:70px;
  border-bottom:#dea19d 3px solid;
}

header a{
  color:#e6e0f6;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header ul{
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 15px;
}

header .highlight, header .current a{
  color:#dea19d;
  font-weight:bold;
}
